<mat-card>
  <mat-card-content>
    <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
      <h2>Register Yourself</h2>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>E-mail</mat-label>
        <input type="email" formControlName="email" matInput placeholder="Email">
        <mat-error *ngIf="registrationForm.get('email')?.errors?.['required']">Email is mandatory</mat-error>
        <mat-error *ngIf="registrationForm.get('email')?.errors?.['email']">Invalid email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name">
        <mat-error>Please provide name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Password required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" [type]="hideConfirm ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
          [attr.aria-label]="'Hide Confirmpassword'" [attr.aria-pressed]="hide">
          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword?.errors?.['required']">Required</mat-error>
        <mat-error *ngIf="submitted && confirmPassword?.errors?.['MatchPassword']">Password do not match</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!registrationForm.valid">Sign Up</button>
    </form>
  </mat-card-content>
</mat-card>